@font-face {
    font-family: 'TTTravels';
    src:    url('../fonts/TTTravelsRegular.ttf') format('truetype'),
    url('../fonts/TTTravelsItalic.ttf') format('truetype'),
    url('../fonts/TTTravelsBold.ttf') format('truetype'),
    url('../fonts/TTTravelsDemiBold.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
    background-color: rgb(105, 105, 105, 0.1);
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
}

body {
    font-family: TTTravels, sans-serif;
    margin: 0;
    padding: 5vh;
}

.footer {
    display: flex;
    flex-direction: column;
    font-family: 'TTTravels', sans-serif;
    margin: 0;
    padding: 5vh;
    text-align: right;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: auto;
    border-radius: 0;
    padding: 0;
    margin-bottom: 5vh;
    transition: all 0.5s ease;
}

.logo_fixed {
    background-color: white;
    border-radius: 0 0 0 6vh;
    padding: 1vh;
    margin: 0;
    box-shadow: 0 2vh 4vh rgba(0, 0, 0, 0.1);
    height: 10vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.logo__img {
    height: 300%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /*height: 8vh;*/
    padding: 1vh;
    transition: top 0.3s;
    border-radius: 6vh;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 0 2vh 4vh rgba(0, 0, 0, 0.1);
}

.nav::-webkit-scrollbar {
    display: none;
}

.menu {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-radius: 4vh;
    transition: background-color 0.3s, box-shadow 0.3s ease;
    margin-right: 5vh;
    background-color: rgb(105, 105, 105);
}

@media screen and (max-aspect-ratio: 13/10) {
    .menu {
        padding: 0;
        margin: 0;
        height: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        border-radius: 4vh;
        transition: background-color 0.3s, box-shadow 0.3s ease;
        margin: 1vh 0;
        background-color: rgb(105, 105, 105);
    }
}

.menu__item_active {
    background-color: rgba(0, 230, 95);
}

.menu__item:last-child {
    margin-right: 1vh;
}

.menu__item:hover {
    background-color: rgba(0, 230, 95);
    box-shadow: 0 0 6vh rgba(0, 230, 95, 0.5);
}

.menu__link {
    font-weight: bold;
    text-decoration: none;
    font-size: 3vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 2vh 4vh;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    column-gap: 5vh;
    margin: 40vh 0 0 0;
    box-sizing: border-box;
}

.section {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(25% - 5vh);
    background-color: white;
    border-radius: 6vh;
    padding: 5vh;
    margin: 5vh 0 0 0;
    box-shadow: 0 2vh 4vh rgba(0, 0, 0, 0.1);
}

.section:last-child {
    flex: 1 1 100%;
}

.section__preformatted-element {
    background-color: rgb(105, 105, 105, 0.1);
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
}

@media screen and (max-aspect-ratio: 9/10) {
    .section__preformatted-element {
        display: none;
    }
}

.section__title {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 230, 95);
}

.section__title:first-child {
    margin-top: 0;
}

.section__paragraph {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(105, 105, 105);
}

.section__subtitle {
    font-weight: bold;
    word-spacing: 5px;
    color: black;
}

.section__quote {
    text-align: right;
}

.list {
    list-style: none;
    margin: 0;
}

.list_ordered {
    list-style-type: decimal;
}

.list_unordered {
    list-style-type: disc;
}

.list__item {
    margin-top: 0;
}

.service {
    padding: 10px;
}

.service__name {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
    color: rgb(105, 105, 105);
}

.service__description {
    font-style: italic;
    font-size: 16px;
    color: gray;
}

.service__price {
    font-size: 16px;
    color: gray;
}

.staff-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    flex: 1 1 calc(25% - 20px);
}

.staff__photo {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 0 5px 0;
}

.staff__name {
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 5px 0;
    text-align: center;
    color: rgb(105, 105, 105);
}

.staff__role {
    font-style: italic;
    font-size: 16px;
    margin: 0 0 5px 0;
    text-align: center;
    color: gray;
}

.contact-info {
    margin-top: 0;
    padding: 10px;
    color: rgb(105, 105, 105);
}

.contact-info__unit {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}


.footer__text {
    margin: 15px 0 0 0;
}

.footer__stats {
    margin-top: 20px;
    font-size: 12px;
    color: rgb(105, 105, 105);
    text-align: center;
}

thead {
    color: white;
    background-color: rgb(0, 230, 95);
}

th, td {
    color: black;
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: rgb(105, 105, 105, 0.1);
}

tbody tr:nth-child(odd) {
    background-color: rgb(105, 105, 105, 0.3);
}

.feedback-form {
    font-family: TTTravels, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20vh 0 20vh 0;
    transition: all 0.3s ease;
}

.feedback-form input[type="text"] {
    font-family: TTTravels, sans-serif;
    padding: 1.5vh;
    margin: 1vh 0;
    border: 1px solid rgba(105, 105, 105, 0.5);
    border-radius: 4vh;
    font-size: 2vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.feedback-form input[type="text"]:focus {
    border-color: rgb(0, 230, 95);
    box-shadow: 0 0 0.5vh rgba(0, 230, 95, 0.5);
    outline: none;
}

.feedback-form button {
    font-family: TTTravels, sans-serif;
    background-color: rgb(105, 105, 105);
    color: white;
    margin: 1vh 0;
    font-size: 2.5vh;
    font-weight: bold;
    border: none;
    border-radius: 4vh;
    padding: 1.5vh 3vh;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.feedback-form button:hover {
    background-color: rgba(0, 230, 95);
    box-shadow: 0 0 6vh rgba(0, 230, 95, 0.5);
}

.feedback-form button:active {
    background-color: rgba(0, 180, 75);
}

.feedback-form label {
    display: none;
}

.feedback-container__feedback {
    margin: 0 0 5vh 0;
}